.masthead {
  background: url(../img/mainBackground.jpg);
}

.signup-section {
  background: url(../img/contactBackground.jpg);
}

.lockpickingVideos {
    height: 100%!important;
    width: 100%!important;
    overflow: hidden!important;
}

.contentContainer {
  position: absolute!important;
  top: 110px!important;
  width: 100vw!important;
}

.videoStyling {
  padding: 5px;
}

@media (max-width:992px) {
  .masthead {
        padding: 6rem 0!important;
  }
}

@media (max-width:1200px) {
  .container {
    width: 100vw!important;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 100%;
  }
  .lockpickingVideo {
    padding-left: 5vw;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 100%;
  }
  .lockpickingVideo {
    padding-left: 0;
  }
}
