/* main.css */

html, head, body, h1, h2, h3, h4, p, div, img, button {
	padding: 0;
	border: 0;
	margin: 0;
	font: inherit;
	font-size: 100%;
	-webkit-appearance: none;	
	-moz-appearance: none;
	appearance: none;
}
body {
	background-color: gray;
	font-size: 40px;
	text-align: left;
	color: #999999;
	height: 100vh;
	width: 100vw;

}
a.header:visited, a.header:hover, a.header:active, a.header:link {
	text-decoration: none;
	color: #cdd2d8;
	}	
a:visited, a:hover, a:active, a:link {
	color: black;
	text-decoration: none;
}
img {	
	z-index:1;
	position: absolute;
	height: 80vh;
	width: 90vw;
	left: 4vw;
}
.button {
	width: 47vw;
	height: 20vh;
}
.Light {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	z-index: 3;
}
#leftLamp1 {
	position: absolute;
	top: 40px;
	left: 120px;
}
#rightLamp {
	position: absolute;
	top: 40px;
	right: 100px;
}
#kitchen {
	position: absolute;
	top: 140px;
	left: 140px;
}
#bathroom {
	position: absolute;
	top: 320px;
	left: 100px;
}
#bathroom2 {
	visibility: hidden;
	position: absolute;
	top: 380px;
	left: 100px;
}
#cabinet {
	visibility: hidden;
	position: absolute;
	top: 250px;
	left: 75px;
}
#bed {
	visibility: hidden;
	position: absolute;
	top: 380px;
	left: 190px;
}
#AON {
	position: fixed;
	bottom: 0;
	left: 0;
}
#AOFF {
	position: fixed;
	bottom: 0;
	right: 0;
}
