*{
	padding: 0;
	margin: 0;
	list-style: 0;
	font-size: 24px;
	line-height: 30px;
	font-family: arial;
}

#list li {
	margin: 5px;
	padding: 5px;
	background: #26eaea;
	border-radius: 5px;
	color: white;
}

#list li b {
	color: #0000ff;
}

#err_msg {
	margin: 5px;
	padding: 5px;
	background: #ff0033;
	border-radius: 5px;
	color: white;
}

#delete_item {
	font-size: 16px;
}

#edit_item {
	font-size: 16px;
}

#delete_item:hover {
	font-size: 18px;
}

#edit_item:hover {
	font-size: 18px;
}

#create_item {
	margin: 5px;
	padding: 5px;
	background: #ff0033;
	border-radius: 5px;
	color: white;
}

#create_item li {
	margin: 10px;
}

#modal {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0,0,0,0.6);
}

#modal_content {
  background: white;
  border: 2px solid yellow;
  border-radius: 5px;
  margin: 10%;
  width: 80%;
}
