.masthead {
  background: url(../img/mainBackground.jpg);
  min-height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
.signup-section {
  background: url(../img/contactBackground.jpg);
}
