a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* above == zero out all */



body {
  margin: 0;
  padding: 0;
  width:100vw;
  height:100vh;
  background-image: linear-gradient(#18068c, #005c6e);
  background-repeat: no-repeat;
  background-attachment: fixed;
  
}

  
#holder {
  width:100%;
  height:100%;
}

.remoteButton {
  display: inline-block;
  margin-left:5%;
  margin-top: 4%;
  width: 200px;
  height: 200px;
  background:url(remoteSprite.jpg) no-repeat;
  
}

@media only screen and (max-width: 1045px){

.remoteButton {
  margin-left:4%;
  margin-top: 10%;

}
  /*end max-width: 1045px */
}


@media only screen and (max-width: 800px){

.remoteButton {
  margin-left:6%;

}
  /*end max-width: 800px */
}

@media only screen and (max-width: 500px){

.remoteButton {
  margin-left:6%;
  width: 175px;
  height: 175px;
}
  /*end max-width: 500px */
}


@media only screen and (max-width: 385px){

.remoteButton {
  margin-left:4%;
  width: 165px;
  height: 165px;
    }
   /*end max-width: 385px */
}

@media only screen and (max-width: 365px){

.remoteButton {
  margin-left:3%;
  width: 165px;
  height: 165px;
    }
   /*end max-width: 365px */
}


@media only screen and (max-width: 325px){
 .remoteButton {
  margin-left:2%;
  width: 150px;
  height: 150px;
 }

 
  /*end max-width: 325px */
}
