html,body,header,footer {
	padding: 0;
	margin: 0;
	border: 0;
	overflow: hidden;
}
a:visited, a:hover, a:active, a:link {
	text-decoration: none;
	color: black;
}	
html {
	background-color: gray;
}
header {
	height: 125px;
}
#home {
	color: black;
}
#inputForm {
	right: 0;
	top: 0;
	width: 20%;
	position: absolute;
}
#inputButton {
	right: 0px;
	position: absolute;
	height: 100px;
	width: 150px;
}
#folders {
	height: 150px;
	width: 100vw;
	position: absolute;
	top: 130px;
	content: "";
}
#gallery {
	height: 650px;
	width: 100vw;
	position: absolute;
	top: 275px;
	content: "";
}
body {
	border-bottom: solid black;
}
footer {
	height: 100px;
	width: 100vw;
	position: absolute;
	bottom: 0px;
	text-align: center;
	border: dashed;
	padding-top: 50px;
	font-size: 48px;
}
footer:hover {
	color: white;
}