a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* above == zero out all */

body {
	background: gray;
}
#imageUploadForm {
	background: red;
	height: 300px;
}
#mp3UploadForm {
	background: blue;
	height: 300px;
}
#gifUploadForm {
	background: white;
	height: 300px;
}
#webmUploadForm {
	background: green;
	height: 300px;
}
.fileSelect {
	color: black;
	font-size: 48px;
	padding-left:2%;
	padding-top:1%;
}
.rename {
	height: 100px;
	width: 300px;
	font-size: 48px;
	
}
.folderSelect{
	height: 100px;
	width: 300px;
	font-size: 48px;
}
.submit{
	height: 100px;
	width: 300px;
	font-size: 48px;
}
.uploadDiv {
	z-index: -1;
	font-size: 150px;
	text-align: center;
	padding-top: 2%;
}
