a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

a:visited, a:hover, a:active, a:link {
	color: white;
	text-decoration: none;
}
/* above == zero out all */



body {
	width: 100vw;
	height: 100vh;
}

nav {
  position: absolute;
  left: 0;
  top:0;
  width: 20%;
  height:100vh;
  background-color: black;
  color:white;
  overflow:hidden;
  font-size: 36pt;
  text-align: center;
  font:impact;
  
}

nav ul {
  padding-top: 20px;
}

#dashboard {
  position: absolute;
  top:0;
  left:20%;
  height: 15%;
  width:80%;
  background-color: black;
}

#viewport {
  position: absolute;
  height: 85%;
  width: 80%;
  bottom:0;
  right:0;
}

.viewportItems {
  height:100%;
  width:100%;
  position:absolute;
  bottom:0;
  right:0;
}

#backgroundImage {
  background-image: url('../img/office.jpg');
  z-index:1;
}

#bills,#cards,#credit, #stockHolder, #trading {
  top:0;
  color:white;
  text-align:center;
  font-size:24pt;
  background-color: gray;
}

#bills {
  z-index:-1;
}

#bills ul,#cards ul,#credit ul,#trading ul  {
  margin-top :30px;
}

#cards {
  z-index:-1;
}

#credit {
  z-index:-1;
}

#trading {
  z-index:-1;
}

#stockHolder {
  
  margin-left: 50px;
  
  padding-top:50px;
}

.stockSymbol {
    display: block;
    float: left;
    padding-left: 15px;
    border: solid 1px black;
    width: 12%;
    height:25%;
}

.tradingview-widget-container {
  float: right;
}
